html{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body{
    padding: 0 0 0 2%;
    margin: 0;
    background-color: #F4F6F8;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
             Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background-color: #2E2E2E;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: start;
    font-size: 0.9em;
}

h1{
    color: #FFFFFF;
    padding-left: 3%;
}